@charset "UTF-8";
/* ============================================================ */
/* Variables */
/* ============================================================ */
/* ============================================================ */
/* Base */
/* ============================================================ */
html, body {
  height: 100%; }

body {
  background: #303030;
  color: #424242;
  font-family: 'Avenir Next', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  font-weight: 600; }

h1 {
  font-size: 26px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px;
  margin-bottom: 20px; }

h4 {
  font-size: 18px;
  margin-bottom: 18px; }

h5 {
  font-size: 16px;
  margin-bottom: 15px; }

h6 {
  font-size: 14px;
  margin-bottom: 12px; }

p {
  line-height: 1.6; }

a {
  color: #dd4a38;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear; }

ul, ol {
  list-style-position: inside;
  line-height: 1.4;
  margin: 0 0 20px; }
  ul ul, ul ol, ol ul, ol ol {
    margin: 10px 0 0 20px; }
  ul li, ol li {
    margin: 0 0 2px; }
    ul li:last-of-type, ol li:last-of-type {
      margin-bottom: 0; }

ul.site-nav,
ul.footer-links {
  padding: 0;
  font-size: 0; }

ul.site-nav {
  list-style: none;
  margin: 0;
  padding: 3px 15px 0 15px;
  overflow-y: hidden; }

.post-content > ul > li {
  margin: 0 0 20px; }

blockquote {
  border-left: 1px dotted #dd4a38;
  margin: 40px 0;
  padding: 5px 30px; }
  blockquote p {
    color: #777777;
    display: block;
    font-style: italic;
    margin: 0;
    width: 100%; }

img {
  display: block;
  width: auto;
  max-width: 100%; }

pre {
  background: #F1F0EA;
  border: 1px solid #DDDBCC;
  border-radius: 3px;
  margin: 0 0 20px;
  padding: 10px;
  font-size: 16px; }

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #dd4a38;
  background-color: #F1F0EA;
  border-radius: 4px; }

hr {
  border: none;
  border-bottom: 1px solid #303030;
  margin: 45px 0; }

table {
  margin-bottom: 40px;
  width: 100%; }
  table tbody > tr:nth-child(odd) > td,
  table tbody > tr:nth-child(odd) > th {
    background-color: #f7f7f3; }
  table th {
    padding: 0 10px 10px;
    text-align: left; }
  table td {
    padding: 10px; }
  table tr {
    border-bottom: 1px solid #777777; }

::selection {
  background: #f3c1bb;
  color: #000000;
  display: block; }

::-moz-selection {
  background: #f3c1bb;
  color: #000000;
  display: block; }

.fluid-width-video-wrapper {
  margin-bottom: 40px; }

.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

/* ============================================================ */
/* General Appearance */
/* ============================================================ */
.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 750px; }

#wrapper {
  background: #faf9f7;
  height: auto;
  min-height: 95%;
  margin-bottom: -180px; }
  #wrapper:after {
    content: "";
    display: block;
    height: 180px; }
  #wrapper #container {
    padding-bottom: 40px; }

.button {
  background: #303030;
  border: none;
  border-radius: 3px;
  color: #fefefe;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 12px; }
  .button:hover {
    background: #dd4a38; }

.button-square {
  background: #dd4a38;
  color: #fefefe;
  font-size: 16px;
  padding: 3px 8px; }
  .button-square:hover {
    background: #303030; }

.error {
  text-align: center;
  margin-top: 150px; }

.comments {
  margin-top: 10px; }

.avatar {
  border: 2px solid #452040;
  max-height: 200px;
  max-width: 200px;
  margin: 20px; }

/* ============================================================ */
/* Site Header */
/* ============================================================ */
.site-header {
  overflow: auto;
  border-top: 3px solid #dd4a38;
  margin-bottom: 40px; }

.site-title-wrapper {
  display: table;
  margin: 0 auto; }

.site-title {
  font-size: 14px;
  font-weight: 600;
  margin: 0px 10px 0px 0px; }
  .site-title a {
    background: #dd4a38;
    color: #fefefe;
    padding: 4px 10px; }

.random-header {
  opacity: 0;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear; }

.site-logo {
  display: block; }
  .site-logo img {
    margin: 0; }

.site-nav-item {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px; }
  .site-nav-item a {
    padding: 5px 10px; }
  .site-nav-item a:hover {
    background: #dd4a38;
    color: #fefefe; }

/* ============================================================ */
/* Post */
/* ============================================================ */
#latest-post {
  display: none; }

.post-container {
  margin: 0 40px; }

.post-summary {
  margin-bottom: 40px; }
  .post-summary .post-header {
    padding: 0; }
  .post-summary .post-content {
    line-height: 1.6; }
  .post-summary:after {
    content: "◆";
    display: block;
    text-align: center;
    color: #EEEEEE;
    margin-top: 40px;
    font-size: 24px; }

.post-header {
  margin: 0 0 20px;
  padding: 0 0 20px; }

.post-title,
.page-title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  line-height: 1.2; }

.page-title {
  margin: 15px 40px; }

.post-title a {
  color: #303030; }

.link-title a {
  color: #dd4a38; }
.link-title a:hover {
  color: #c13221;
  text-decoration: underline; }
.link-title:after {
  font-size: 18px;
  color: #AAAAAA;
  content: "→";
  margin-left: 12px; }

.post-header p,
.post-description {
  display: inline-block;
  font-size: 14px;
  margin: 0; }

.post-date {
  display: inline-block;
  color: #777777; }

.post-date,
.blog-description {
  color: #777777;
  font-size: 14px;
  line-height: 1; }
  .post-date a,
  .blog-description a {
    color: #777777; }
  .post-date a:hover,
  .blog-description a:hover {
    color: #dd4a38; }

.post-content a:hover {
  color: #c13221;
  text-decoration: underline; }
.post-content:last-child {
  margin-bottom: 0; }

.post-footer {
  margin-top: 5px; }

.post-tags,
.share {
  color: #777777;
  font-size: 14px; }
  .post-tags span,
  .share span {
    font-weight: 600; }

.post-tags {
  float: left;
  margin: 3px 0 0; }
  .post-tags a:hover {
    color: #303030; }

.share {
  float: right; }
  .share a {
    background: #dd4a38;
    color: #FFF;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    padding: 5px 0 4px;
    width: 30px;
    text-align: center; }
  .share a:hover {
    background: #303030; }

.post-navigation {
  display: table; }

.newer-posts,
.older-posts {
  float: left;
  background: #dd4a38;
  color: #fefefe;
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px;
  padding: 5px 10px 6px; }
  .newer-posts:hover,
  .older-posts:hover {
    background: #303030; }

.page-number {
  display: none; }

/* ============================================================ */
/* Post Index */
/* ============================================================ */
.post-list {
  list-style: none;
  margin-top: 15px;
  padding: 0;
  border-top: 1px solid #EEEEEE; }

.post-container,
.author-profile {
  margin-right: 15px;
  margin-left: 15px; }

.post-stub {
  border-bottom: 1px solid #EEEEEE;
  margin: 0;
  position: relative;
  font-size: 14px; }
  .post-stub:first-child {
    padding-top: 0; }
  .post-stub a {
    display: block;
    color: #424242;
    padding: 10px 5px; }
    .post-stub a:hover {
      background: #FCF5F5;
      color: #dd4a38;
      padding: 10px 8px; }
      .post-stub a:hover .post-stub-tag {
        background: #dd4a38; }

.post-stub-tag {
  background: #303030;
  border-radius: 3px;
  color: #FFF;
  float: right;
  font-size: 10px;
  margin: 7px 0 0;
  padding: 0 5px; }

.post-stub-title {
  display: block;
  margin: 0; }

.post-stub-description {
  display: inline-block;
  margin: 0; }

.post-stub-date {
  display: inline-block;
  color: #777777; }
  .post-stub-date:after {
    content: " - "; }

.next-posts-link a,
.previous-posts-link a {
  display: block;
  padding: 8px 11px; }

/* ============================================================ */
/* Author */
/* ============================================================ */
.author-profile {
  margin: 0 40px; }
  .author-profile:after {
    border-bottom: 1px dotted #303030;
    content: "";
    display: block;
    margin: 40px auto 0;
    width: 100px; }

.author-heading {
  margin: 15px auto;
  text-align: center;
  width: 100%; }

.author-avatar {
  border-radius: 50px;
  display: inline;
  height: 50px;
  margin: 5px 10px 0 0;
  width: 50px;
  vertical-align: middle; }

.author-name {
  display: inline;
  font-size: 52px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle; }

.author-meta {
  color: #777777;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  margin: 25px 0 0;
  text-align: center; }
  .author-meta span {
    display: inline-block;
    margin: 0 10px 8px; }
  .author-meta i {
    margin-right: 8px; }
  .author-meta a {
    color: #777777; }
  .author-meta a:hover {
    color: #dd4a38; }

.author-bio {
  margin: 20px auto 0;
  text-align: center;
  max-width: 700px; }

/* ============================================================ */
/* Footer */
/* ============================================================ */
.footer {
  background: #303030;
  color: #D3D3D3;
  min-height: 180px;
  overflow: auto;
  padding: 0 10px;
  border-top: 3px solid #dd4a38; }
  .footer .footer-container {
    padding: 0 15px; }
  .footer .footer-description,
  .footer .footer-links {
    display: inline-block;
    color: #969696;
    font-size: 14px;
    max-width: 350px;
    margin: 0;
    line-height: 1.5; }
    .footer .footer-description a,
    .footer .footer-links a {
      color: #c9c9c9; }
      .footer .footer-description a:hover,
      .footer .footer-links a:hover {
        color: #dd4a38; }
  .footer .footer-links {
    padding-top: 5px; }
  .footer .footer-social {
    padding: 0 20px; }
  .footer .site-title-wrapper {
    margin: 0 0 15px 0;
    width: 100%; }
  .footer .site-nav-item a {
    padding: 10px; }
    .footer .site-nav-item a:hover {
      background: none;
      color: #dd4a38; }
  .footer .button-square {
    color: #c9c9c9;
    background: none;
    padding: 5px; }
  .footer .button-square:hover {
    color: #dd4a38;
    background: none; }
  .footer .button-jump-top {
    font-size: 23px;
    line-height: 1.1;
    padding-top: 1px; }

.footer-copyright {
  color: #636363;
  font-size: 14px;
  margin: 10px 0;
  text-align: center; }
  .footer-copyright a {
    color: #7d7d7d;
    font-weight: 600; }
    .footer-copyright a:hover {
      color: #dd4a38; }

/* ============================================================ */
/* NProgress */
/* ============================================================ */
#nprogress .bar {
  background: #dd4a38; }

#nprogress .peg {
  box-shadow: 0 0 10px #dd4a38, 0 0 5px #dd4a38; }

#nprogress .spinner-icon {
  border-top-color: #dd4a38;
  border-left-color: #dd4a38; }

/* ============================================================ */
/* Media Queries */
/* ============================================================ */
@media only screen and (max-width: 800px) {
  .post-stub-tag {
    display: none; }

  .site-header {
    padding: 0 15px; }
    .site-header .site-nav {
      padding: 3px 0 0 0; }
      .site-header .site-nav .site-nav-item {
        margin-right: 5px; }
        .site-header .site-nav .site-nav-item a {
          padding: 5px 8px; } }
@media only screen and (max-width: 600px) {
  h1, h2 {
    margin-bottom: 20px; }

  p {
    margin-bottom: 20px; }

  ul, ol {
    margin-bottom: 20px; }

  blockquote {
    margin: 30px 0; }

  pre {
    margin: 20px 0; }

  hr {
    margin: 35px 0; }

  .site-title {
    float: none; }
    .site-title a {
      float: none; }

  .post-header {
    margin-bottom: 20px;
    padding-bottom: 20px; }

  .post-title,
  .page-title,
  .author-name,
  .author-heading {
    margin-top: 5px; }

  .post-date,
  .blog-description,
  .author-meta {
    margin-top: 20px; }
    .post-date:after, .post-date:before,
    .blog-description:after,
    .blog-description:before,
    .author-meta:after,
    .author-meta:before {
      margin-top: 30px; }

  .author-profile:after, .author-profile:before {
    margin-top: 20px; }

  .avatar {
    max-height: 100px;
    max-width: 100px;
    margin: 10px; }

  .post-stub-title {
    display: block; }

  .post-stub-date:before {
    content: "";
    display: block; }

  .post-tags {
    width: 100%; }

  .post-stub a,
  .post-stub a:hover {
    padding-top: 12px;
    padding-bottom: 12px; }

  .share {
    float: left;
    margin-top: 20px; }
    .share a {
      margin: 0 5px 0 0; }

  .footer .site-title {
    margin-bottom: 15px; }
  .footer .footer-links {
    padding-top: 15px; }
  .footer .site-nav-item {
    margin-right: 0; }
  .footer .footer-social {
    padding: 10px 0; }

  .footer .site-title-wrapper,
  .footer .site-title-wrapper .right,
  .footer-description,
  .footer-links,
  .footer-social,
  .footer-copyright {
    text-align: center !important;
    width: 100% !important;
    max-width: 100% !important; } }
@media only screen and (max-width: 400px) {
  .post-title,
  .page-title,
  .author-name,
  .author-heading {
    line-height: 1.2; }

  .post-date,
  .blog-description,
  .author-meta {
    line-height: 1.6; }

  .post-date,
  .blog-description,
  .author-meta {
    margin-top: 10px; }
    .post-date:after, .post-date:before,
    .blog-description:after,
    .blog-description:before,
    .author-meta:after,
    .author-meta:before {
      margin-top: 20px; }

  .author-profile:after, .author-profile:before {
    margin-top: 10px; }

  .author-avatar {
    display: block;
    margin: 0 auto 18px; }

  .author-meta span {
    display: block;
    margin: 18px 0; }

  .footer-copyright {
    padding: 0 10px; } }
