// ============================================================ //
// Colours //
// ============================================================ //

$primary: #DD4A38;
$secondary: #303030;
$background: #FAF9F7;

/* ============================================================ */
/* Base */
/* ============================================================ */

html, body { height: 100%; }

body {
    background: $secondary;
    color: #424242;
    font-family: 'Avenir Next', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    font-weight: 600;
}

h1 { font-size: 26px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; margin-bottom: 20px; }
h4 { font-size: 18px; margin-bottom: 18px; }
h5 { font-size: 16px; margin-bottom: 15px; }
h6 { font-size: 14px; margin-bottom: 12px; }

p {
    line-height: 1.8;
    margin: 0 0 30px;
}

a {
    color: $primary;
    text-decoration: none;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

ul, ol {
    list-style-position: inside;
    line-height: 1.4;
    margin: 0 0 20px;
    padding: 0;
    font-size: 0;

    ul, ol { margin: 10px 0 0 20px; }

    li {
        margin: 0 0 2px;
        font-size: 14px;

        &:last-of-type { margin-bottom: 0; }
    }
}

blockquote {
    border-left: 1px dotted $primary;
    margin: 40px 0;
    padding: 5px 30px;

    p {
        color: #777777;
        display: block;
        font-style: italic;
        margin: 0;
        width: 100%;
    }
}

img {
    display: block;
    width: auto;
    max-width: 100%;
}

pre {
    background: #F1F0EA;
    border: 1px solid #DDDBCC;
    border-radius: 3px;
    margin: 0 0 20px;
    padding: 10px;
    font-size: 16px;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: $primary;
    background-color: #F1F0EA;
    border-radius: 4px
}

hr {
    border: none;
    border-bottom: 1px dotted #303030;
    margin: 45px 0;
}

table {
    margin-bottom:40px;
    width: 100%;

    tbody > tr:nth-child(odd) > td,
    tbody > tr:nth-child(odd) > th {
        background-color: #f7f7f3;
    }

    th {
        padding: 0 10px 10px;
        text-align: left;
    }

    td { padding: 10px; }

    tr { border-bottom: 1px dotted #777777; }
}

::selection {
    background: lighten($primary, 30%);
    color: #000000;
    display: block;
}

::-moz-selection {
    background: lighten($primary, 30%);
    color: #000000;
    display: block;
}

.fluid-width-video-wrapper { margin-bottom: 40px; }

.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}

.clearfix {
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

/* ============================================================ */
/* General Appearance */
/* ============================================================ */

.container {
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 750px;
}

#wrapper {
    background: $background;
    height: auto;
    min-height: 85%;
    /* This must be the same as the height of the footer */
    margin-bottom: -200px;

    &:after {
        content: "";
        display: block;
        /* This must be the same as the height of the footer */
        height: 200px;
    }
}

.button {
    background: $secondary;
    border: none;
    border-radius: 3px;
    color: #FEFEFE;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 12px;

    &:hover { background: $primary; }
}

.button-square {
    background: $primary;
    color: #FEFEFE;
    font-size: 16px;
    padding: 3px 8px;

    &:hover { background: $secondary; }
}

.error {
    text-align: center;
    margin-top: 150px;
}

.comments {
    margin-top: 10px;
}

.avatar {
    border: 2px solid #452040;
    max-height: 200px;
    max-width: 200px;
}

/* ============================================================ */
/* Site Header */
/* ============================================================ */

.site-header {
    overflow: auto;
    border-top: 3px solid #DD4A38;
    margin-bottom: 40px;
}

.site-title-wrapper {
    display: table;
    margin: 0 auto;
}

.site-title {
    font-size: 14px;
    font-weight: 600;
    margin: 0px 10px 0px 0px;

    a {
        background: $primary;
        color: #FEFEFE;
        padding: 4px 10px;
    }
}
.site-logo {
    display: block;

    img { margin: 0; }
}

.site-nav {
    list-style: none;
    margin: 3px 0 0 0;
}

.site-nav-item {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;

    a { 
        padding: 5px 10px 6px;
    }

    a:hover {
        background: #DD4A38;
        color: #FEFEFE;
    }
}

/* ============================================================ */
/* Post */
/* ============================================================ */

#latest-post { display: none; }

.post-container { margin: 0 40px; }

.post-header {
    margin: 0 0 20px;
    padding: 0 0 20px;
}

.post-title,
.page-title {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.page-title { margin: 15px 40px; }

.post-title a { color: #303030; }

.post-header p,
.post-description {
    display: inline-block;
    font-size: 16px;
    margin: 0;
}

.post-date {
    display: inline-block;
    color: #777777;

    &:after { content: " - "; }
}

.post-date,
.blog-description {
    color: #777777;
    font-size: 16px;
    line-height: 1;

    a { color: #777777; }
    a:hover { color: $primary; }
}

.post-content {
    a:hover {
        color: darken($primary, 10%);
        text-decoration: underline;
    }

    &:last-child { margin-bottom: 0; }
}

.post-footer { margin-top: 5px; }

.post-tags,
.share {
    color: #777777;
    font-size: 14px;

    span { font-weight: 600; }
}

.post-tags {
    float: left;
    margin: 3px 0 0;
    a:hover { color: $secondary; }
}

.share {
    float: right;

    a {
        background: $primary;
        color: #FFF;
        display: inline-block;
        font-size: 16px;
        margin-left: 5px;
        padding: 5px 0 4px;
        width: 30px;
        text-align: center;
    }

    a:hover { background: $secondary; }
}

.post-navigation {
    display: table;
    margin: 70px auto 100px;
}

.newer-posts,
.older-posts {
    float: left;
    background: $primary;
    color: #FEFEFE;
    font-size: 14px;
    font-weight: 600;
    margin: 0 5px;
    padding: 5px 10px 6px;

    &:hover {
        background: $secondary;
    }
}

.page-number { display: none; }

/* ============================================================ */
/* Post Index */
/* ============================================================ */

.post-list {
    list-style: none;
    margin-top: 15px;
    border-top: 1px solid #EEEEEE;
}

.post-container,
.author-profile {
    margin-right: 15px;
    margin-left: 15px;
}

.post-stub {
    border-bottom: 1px solid #EEEEEE;
    margin: 0;
    position: relative;
    font-size: 14px;

    &:first-child { padding-top: 0; }

    a {
        display: block;
        color: #424242;
        padding: 10px 5px;

        &:hover {
            background: #FCF5F5;
            color: $primary;
            padding: 10px 8px;

            .post-stub-tag { background: $primary; }
        }
    }
}

.post-stub-tag {
    background: $secondary;
    border-radius: 3px;
    color: #FFF;
    float: right;
    font-size: 10px;
    margin: 7px 0 0;
    padding: 0 5px;
}

.post-stub-title {
    display: block;
    margin: 0;
}

.post-stub-description {
    display: inline-block;
    margin: 0;
}

.post-stub-date {
    display: inline-block;
    color: #777777;

    &:after { content: " - "; }
}

.next-posts-link a,
.previous-posts-link a {
    display: block;
    padding: 8px 11px;
}

/* ============================================================ */
/* Author */
/* ============================================================ */

.author-profile {
    margin: 0 40px;

    &:after {
        border-bottom: 1px dotted $secondary;
        content: "";
        display: block;
        margin: 40px auto 0;
        width: 100px;
    }
}

.author-heading {
    margin: 15px auto;
    text-align: center;
    width: 100%;
}

.author-avatar {
    border-radius: 50px;
    display: inline;
    height: 50px;
    margin: 5px 10px 0 0;
    width: 50px;
    vertical-align: middle;
}

.author-name {
    display: inline;
    font-size: 52px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
}

.author-meta {
    color: #777777;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    margin: 25px 0 0;
    text-align: center;

    span {
        display: inline-block;
        margin: 0 10px 8px;
    }

    i { margin-right: 8px; }

    a { color: #777777; }
    a:hover { color: $primary; }
}

.author-bio {
    margin: 20px auto 0;
    text-align: center;
    max-width: 700px;
}

/* ============================================================ */
/* Footer */
/* ============================================================ */

.footer {
    background: $secondary;
    color: #D3D3D3;
    min-height: 200px;
    margin-top: 95px;
    overflow: auto;

    .footer-description,
    .footer-links {
        display: inline-block;
        color: lighten($secondary, 40%);
        font-size: 14px;
        max-width: 350px;
        margin: 0;
        line-height: 1.5;

        a {
            color: lighten($secondary, 60%);

            &:hover { color: $primary; }
        }
    }

    .footer-social { padding: 0 20px; }

    .site-title-wrapper {
        margin: 20px 0 15px;
        width: 100%;
    }

    .site-nav-item a {
        padding: 10px;

        &:hover {
            background: none;
            color: $primary;
        }
    }

    .button-square {
        color: lighten($secondary, 60%);
        background: none;
        padding: 5px;
    }

    .button-square:hover {
        color: $primary;
        background: none;
    }

    .button-jump-top {
        font-size: 23px;
        line-height: 1.1;
        padding-top: 1px;
    }
}

.footer-copyright {
    color: lighten($secondary, 20%);
    font-size: 14px;
    margin: 10px 0;
    text-align: center;

    a {
        color: lighten($secondary, 30%);
        font-weight: 600;

        &:hover { color: $primary; }
    }
}

/* ============================================================ */
/* NProgress */
/* ============================================================ */

#nprogress .bar { background: $primary; }

#nprogress .peg { box-shadow: 0 0 10px $primary, 0 0 5px $primary; }

#nprogress .spinner-icon {
    border-top-color: $primary;
    border-left-color: $primary;
}

/* ============================================================ */
/* Media Queries */
/* ============================================================ */

@media only screen and (max-width: 800px) {
    .post-stub-tag { display: none; }

    .site-header {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 600px) {
    h1, h2 { margin-bottom: 20px; }

    p { margin-bottom: 20px; }

    ul, ol { margin-bottom: 20px; }

    blockquote { margin: 30px 0;}

    pre { margin: 20px 0; }

    hr { margin: 35px 0; }

    .site-title {
        float: none;

        a {
            float: none;
        }
    }

    .post-header {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .post-title,
    .page-title,
    .author-name,
    .author-heading {
        font-size: 42px;
        margin-top: 5px;
    }

    .post-date,
    .blog-description,
    .author-meta {
        margin-top: 20px;

        &:after, &:before {
            margin-top: 30px;
        }
    }

    .author-profile {
        &:after, &:before {
            margin-top: 20px;
        }
    }

    .avatar {
        max-height: 100px;
        max-width: 100px;
    }

    .post-stub-title { display: block; }

    .post-stub-date:before {
        content: "";
        display: block;
    }

    .post-tags { width: 100%; }

    .post-stub a,
    .post-stub a:hover {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .share {
        float: left;
        margin-top: 20px;

        a {
            margin: 0 5px 0 0;
        }
    }

    .footer {
        margin-top: 50px;

        .site-title { margin-bottom: 15px; }

        .footer-social { padding: 10px 0; }
    }

    .footer .site-title-wrapper,
    .footer .site-title-wrapper .right,
    .footer-description,
    .footer-links,
    .footer-social,
    .footer-copyright {
        text-align: center !important;
        width: 100% !important;
        max-width: 100% !important;
    }
}

@media only screen and (max-width: 400px) {
    .post-title,
    .page-title,
    .author-name,
    .author-heading {
        font-size: 30px;
        line-height: 1.2;
    }

    .post-date,
    .blog-description,
    .author-meta {
        line-height: 1.6;
    }

    .post-date,
    .blog-description,
    .author-meta {
        margin-top: 10px;

        &:after, &:before {
            margin-top: 20px;
        }
    }

    .author-profile {
        &:after, &:before {
            margin-top: 10px;
        }
    }

    .author-avatar {
        display: block;
        margin: 0 auto 18px;
    }

    .author-meta span {
        display: block;
        margin: 18px 0;
    }

    .footer-copyright { padding: 0 10px; }
}
